body {
    margin: 0;
    background-color: #0D1116;
    color: #fff
}

*, *::before, *::after {
    box-sizing: inherit;
}


.container {
    display: flex;
}


.top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 61px;
    background-color: #161B21;
}

.topbar-left {
    display: flex;
    gap: 30px;
}

.topbar-left > a {
    text-decoration: none;
    list-style: none;
    color: currentColor;
    
}

.topbar-right {
    margin-right: 50px;
    display: flex;
    gap: 20px;
}

.topbar-right > a {
    text-decoration: none;
    list-style: none;
    color: currentColor;
}

.middle-bar {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #21262C;
}

.middlebar-info {
    display: flex;
    gap: 40px;
}

.middlebar-info > a {
    text-decoration: none;
    list-style: none;
    color: currentColor;
}

.pic-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;

} 

.pic-info > img {
    border: solid 2px #21262C;
    border-radius: 50%;
}

.names {
    margin-right: 54px;
}

.fullname {
    display: block;
}

.username {
    font-size: 20px;
}

.edit-btn {
    width: 45%;
    height: 34px;
    background-color: #21262C;
    color: #fff;
    border: solid 1px;
    border-radius: 25px;
    
}

.organizations {
    margin-right: 141px;
    padding-top: 26px;
}

.projects {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

input {
    width: 270px;
    background-color: #0D1116;
    border: solid 1px #21262C;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

select {
    background-color: #21262C;
    border: solid 1px #373b41;
    color: #c9d1d9;;
    padding: 5px 16px;
    border-radius: 8px;
    width: 88px;
}

.new-button {
    background-color: #1abd42;
    color: #fff;
    padding: 5px 16px;
    border-radius: 8px;
}

/* .my-repos {
    display: flex;
    gap: 10px;
}

.my-repos h3 {
    font-size: x-large;
}

.my-repos > h4 {
    border: solid 1px #fff;
    border-radius: 25%;
    padding: 6px;

} */

.repo-list {
    /* border-bottom: solid 1px white;
    padding-bottom: 18px; */
}


.repo-name {
    color: #58a6ff;
    font-size: 20px;
    text-decoration: none;
}

.repo-circle {
    font-size: 8px;
    color: #ffff00;
    margin-left: -14px;
}

.pubpriv-label {
    font-size: 12px;
    margin: 0px 0px 4px 4px;
    padding: 0px 7px;
    color: #8b949e;
    border: 1px solid #22262c;
    border-radius: 10px;
}

.programming-language {
    font-size: 12px;
    margin-left: 12px;
}

.repo-item {
    list-style: none;
}

.repo-update {
    font-size: 12px;
}

.star-btn {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -34px;
    border-bottom: 1px solid #22262c;
    padding-bottom: 45px;

}

.star-button1 {
    background-color: #21262d;
    color: #c9d1d9;
    border: solid 1px #373b41;
    border-radius: 8px;
    padding: 3px 16px;
}

.dropdown-arrow {
    background-color: #21262d;
    color: #c9d1d9;
    border: solid 1px #373b41;
    border-radius: 8px;
    padding: 3px 16px;
}

.fa-github {
    font-size: 34px;
}

footer {
    width: 86%;
    height: 115px;
    border-top: 1px solid #22262c;
    margin-left: 72px;
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 33px;
}

.footer-links > a {
    text-decoration: none;
    color: #58a6ff;
    
}

.copywrite {
    display: flex;
    color: #8d949d;
    font-size: 12px;
}

.copywrite > a {
    font-size: 24px;
    color: #5c636e;
}

.copywrite > div {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

